[mysqld]
#large-pages
skip-log-bin
datadir=/perf1/mysql/data
port=3306
socket=/var/lib/mysql/mysql.sock

# general
max_connections=4000
table_open_cache=8000
back_log=1500
performance_schema=OFF
max_prepared_stmt_count=128000
character_set_server=latin1
collation_server=latin1_swedish_ci
transaction_isolation=REPEATABLE-READ

# files
innodb_file_per_table=1
innodb_open_files=4000

# buffers
innodb_buffer_pool_size=16384M
innodb_log_buffer_size=64M

# tune
innodb_doublewrite=0
innodb_flush_log_at_trx_commit=0
innodb_max_dirty_pages_pct=90

join_buffer_size=32K
sort_buffer_size=32K
innodb_use_native_aio=1
innodb_spin_wait_delay=6

innodb_flush_method=O_DIRECT

# perf special
innodb_adaptive_flushing=1
innodb_read_io_threads=16
innodb_write_io_threads=16
innodb_purge_threads=4
innodb_adaptive_hash_index=0

[client]
socket=/var/lib/mysql/mysql.sock
